<!DOCTYPE html>
<html ng-app="storeApp">
 <head>
  <title></title>
  <link type="text/css" rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 </head>
 <body>
  <div class="container" ng-controller="storeCtrl">
   <div class="hero">
    <img src="images/logo.png"/>
   </div>
   <div class="store">
    <div class="nav">
     <ul class="navbar" id="nav">
      <li></li>
      <li class="navitem" id="tab1"><h2 class="title">Lightsabers</h2><div class="selected"></div></li>
      <li class="navitem" id="tab2"><h2 class="title">Blasters</h2></li>
      <li class="navitem" id="tab3"><h2 class="left">Cart</h2><h3 class="right" id="total">$0.00</h3></li>
      <li></li>
     </ul>
    </div>
    <table class="shop" ng-init="saberRows()">
     <tr class="row" ng-repeat="row in rows track by $index">
      <td class="item" ng-repeat="saber in row track by $index">
       <img ng-src="{{saber.imgsrc}}">
       <h3 class="name">{{saber.name}}</h3>
       <h4 class="price">{{saber.price}}</h4>
      </td>
     </tr>
    </table>
    <div id="window">
    </div>
   </div>
  </div>
  <script src="data.js"></script>
  <script src="app.js"></script>
 </body>
</html>